{% extends 'base.html.twig' %}

{% block body %}
<div class="confirm-email">
    <p>
    Un e-mail a été envoyé à l'adresse {{email}}. </br>
    Il contient un lien sur lequel il vous faudra cliquer afin de réinitialiser votre mot de passe.
    </p>
</div>
{% endblock body %}


