{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="already-request-container">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
{% endblock body %}
