# Cache and logs (Symfony2)
ADAM/app/cache/*
ADAM/app/logs/*
!ADAM/app/cache/.gitkeep
!ADAM/app/logs/.gitkeep

# Cache and logs (Symfony3)
ADAM/var/cache/*
ADAM/var/logs/*
!ADAM/var/cache/.gitkeep
!ADAM/var/logs/.gitkeep

# Parameters
ADAM/app/config/parameters.yml
ADAM/app/config/parameters.ini

# Managed by Composer
ADAM/app/bootstrap.php.cache
ADAM/var/bootstrap.php.cache
ADAM/bin/*
!ADAM/bin/console
!ADAM/bin/symfony_requirements
ADAM/vendor/

# Assets and user uploads
ADAM/web/bundles/*
!ADAM/web/bundles/front/
ADAM/web/uploads/

# Assets managed by Bower
ADAM/web/assets/vendor/

# PHPUnit
ADAM/app/phpunit.xml
ADAM/phpunit.xml

# Build data
ADAM/build/

# Composer PHAR
ADAM/composer.phar

# Composer LOCK
ADAM/composer.lock

#DS_Store
*.DS_Store

