{% extends 'base.html.twig' %}

{% block body %}
    <div class="conditions">
        <h2>CONDITIONS GÉNÉRALES D'UTILISATION DU SITE</h2>
            <p>
                Le site internet, disponible à l’adresse www.adam-parisdescartes.fr, est un site communautaire créé par l’Association Descartes des Anciens Miagistes pour permettre aux anciens étudiants ayant effectué un cursus en Licence ou en master MIAGE à l’Université Paris Descartes de garder le contact. Il s’agit également de valoriser la formation et favoriser l'insertion professionnelle des jeunes diplômés.
            </p>
            <p>
                L'utilisation du site www.adam-parisdescartes.fr implique l'acception des présentes conditions d'utilisation.
            </p>
            <p>
                Pour activer son compte et participer au site, l’utilisateur doit disposer d’une adresse de courrier électronique valide et doit être dans l’une des situations suivantes :
            </p>
            <ul>
                <li>
                    Il est diplômé d’une Licence ou d’un master MIAGE de l’Université Paris Descartes.
                </li>
                <li>
                    Il est enseignant-chercheur ou maître de conférences à l’Université Paris Descartes dans une formation MIAGE ou a exercé ces fonctions par le passé.
                </li>
                <li>
                    Il représente une entreprise désirant proposer une ou plusieurs offres d’emploi aux utilisateurs membres du site.
                </li>
            </ul>
            <p>
                L’utilisateur s’engage à ne pas utiliser de pseudonyme ou d’adresse électronique qui pourrait porter atteinte aux droits de tiers (nom patronymique, marque, ...), ni d’usurper un nom, une dénomination sociale ou une marque déposée.
            </p>
            <p>
                Les textes, logiciels, images, vidéos, bases de données et tout autre œuvre présente sur ce site sont protégés par le code de la propriété intellectuelle. L’utilisateur du site s’engage à ne pas les reproduire sans le consentement express de l’Association Descartes des Anciens Miagistes.
            </p>
            <p>
                L’utilisateur du site garantit à l’Association Descartes des Anciens Miagistes qu’il dispose des droits nécessaires, y compris de l’ensemble des droits de propriété intellectuelle sur les témoignages , commentaires, images et données de toute nature qu’il divulgue sur ce site, lui permettant d’accorder les droits transmis aux présentes.
            </p>
            <p>
                Les messages et images postés le sont sous la responsabilité de leur auteur qui s’engage à assumer toutes les responsabilités et les conséquences s’y afférant. En particulier, l’auteur de message garantit l’Association Descartes des Anciens Miagistes contre toutes les actions engagées par les tiers et ayant pour cause, fondement ou origine le contenu de son message. Il s’engage donc à prendre en charge le montant des condamnations et frais de défense afférents, ou de toute indemnité transactionnelle qui serait due dans le cadre du litige. Les représentants du site déclinent toute responsabilité dans le contenu des messages postés par les utilisateurs.
            </p>
            <p>
                L’inscription au site se fait par la simple activation gratuite d’un compte utilisateur. Y souscrire implique l’acceptation des conditions d’utilisation décrites par le présent texte.
            </p>
            <p>
                Chaque membre du site est responsable du compte personnel qui lui est attribué à compter de la date d'activation de son compte. Il est de son devoir de le garder secret et de ne le divulguer à aucune autre personne. Toutes les actions entreprises avec ce compte sont enregistrées et pourront être exploitées en cas de litige.
            </p>
            <p>
                L’Association Descartes des Anciens Miagistes se réserve le droit, sans justification, de refuser l'accès au site www.adam-parisdescartes.fr à toute personne portant atteinte à l'image du réseau.
            </p>
        <h6 align="right"> Mise à jour le 1er Juin 2016</h6>
    </div>

    <div align="center">
        <a href="{{ last_route }}" type="button" class="btn btn-default btn-cancel">Retour</a>
    </div>
{% endblock %}
