{% extends 'base.html.twig' %}

{% block body %}
    <div class="confidentialite">
        <h2>MENTIONS LÉGALES</h2>
        <h3>Respect de la vie priv&eacute;e et protection des donn&eacute;es à caract&egrave;re personnel</h3>
            <p>
                L’Association Descartes des Anciens Miagistes (ci-après « ADAM ») est susceptible de traiter vos données à caractère personnel dans le cadre de votre accès et/ou utilisation du site Internet ADAM. Il s’agit notamment des données qui sont collectées par ADAM lors de l’activation par un utilisateur de son compte. Les données personnelles ainsi collectées sont destinées à vous permettre de profiter au mieux des services offerts par le site ADAM.
            </p>
            <p>
                L'inscription en tant qu’utilisateur du site ADAM ne devient effective qu'après validation de votre compte utilisateur sur le site ADAM. Dès lors, toutes les informations renseignées dans le profil d’un utilisateur du site ADAM sont visibles pour tous les autres utilisateurs inscrits par le biais de l'outil de recherche.
            </p>
            <p>
                Conformément à la loi n°78-17 du 6 janvier 1978 « Informatique et Libertés », vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données à caractère personnel vous concernant.
            </p>
            <p>
                Vous pouvez exercer ce droit en modifiant les informations communiquées lors de l’activation de votre compte dans la rubrique « Mon profil » ou en contactant l’administrateur du site ADAM.
            </p>
        <div class="section-border"> </div>
        <h3>Sécurité</h3>
            <p>
                ADAM prend toutes les précautions utiles afin de préserver l’intégrité des données, leur confidentialité et empêcher toute communication à des tiers non autorisés.
        </p>
        <div class="section-border"> </div>
        <h3>Cookies</h3>
            <p>
                Afin de faciliter votre navigation sur le site ADAM, nous utilisons des cookies. Ces cookies sont des fichiers de taille réduite stockés sur votre ordinateur et comprenant des données qui ne permettent pas, en soi, de vous identifier, mais servent à enregistrer des informations relatives à votre navigation sur le site ADAM.
        </p>
            <p>
                Si vous le souhaitez, vous pouvez régler les paramètres du navigateur que vous utilisez afin de désactiver les cookies. Cependant, dans ce cas, il est possible que vous ne puissiez plus bénéficier de toutes les fonctionnalités du site ADAM.
        </p>

        <h6 align="right"> Mise à jour le 1er Mai 2016</h6>
    </div>

    <div align="center">
        <a href="{{ last_route }}" type="button" class="btn btn-default btn-cancel">Retour</a>
    </div>
{% endblock %}
