{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageAdvertList">
        <h1>Liste des annonces{% if category %} de type "{{ category }}"{% endif %}</h1>
        {% include 'AppBundle:advert:_advertsList.html.twig' %}
    </section>
{% endblock %}
