<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-body">
                 <p> Si vous voulez voir la suite, connectez-vous ! </p>
              </div>
              <div class="modal-footer">
              	<a href="{{ path('fos_user_registration_register') }}" type="button" class="btn btn-success">Se connecter</a>
                <a href="{{ path('fos_user_registration_register') }}" type="button" class="btn btn-info">S'inscrire</a>
            </div>
        </div>
    </div>
</div>