<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Supprimer le post</h4>
            </div>
              <div class="modal-body">
                 <p> Êtes-vous sûr de vouloir supprimer ce post ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
</div>