{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageAdvertList">
        <h1>Résultat de la recherche {% if search is defined %} "{{ search }}" {% endif %}</h1>
        {% include 'AppBundle:advert:_advertsList.html.twig' %}
    </section>
{% endblock %}