{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageAdvertList">
        <h1>Les annonces d'ADAM</h1>

        {% include 'AppBundle:advert:_advertItem.html.twig' %}
        {% include 'AppBundle:advert:popinDeleteForm.html.twig' %}
        {% if not app.user %}
            {% include 'AppBundle:advert:popinIndex.html.twig' %}
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#myModal').modal({
            backdrop: "static",
            keyboard: false
        });
    </script>
{% endblock %}