{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageAdvertList">
        {% include 'AppBundle:advert:_advertItem.html.twig' %}
        {% include 'AppBundle:advert:popinDeleteForm.html.twig' %}
        {% if not app.user %}
            {% include 'AppBundle:advert:popinIndex.html.twig' %}
        {% endif %}
    </section>

    {% if (advert.author == app.user) and advert.category == "Événement" %}
        <div class="registered-list-container">
            {% include 'AppBundle::_usersTable.html.twig' %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#myModal').modal({
            backdrop: "static",
            keyboard: false
        });
    </script>
{% endblock %}