:root {
  --descartes-rouge-color: #BB0F47;
  --descartes-grey-color: #F3F3F3;
  --descartes-brown-color: #554348;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto auto;
    padding: 0 0 auto;
    background-color: #444444;
}

/*
 * Container block en dessous de la navbar
 */
.block-container {
    padding: 54px 0 0 0;
    height: 100%;
}

/*
 * Navbar
 */
nav.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    top: 0;
    height: 54px;
}

nav.navbar > .container-fluid {
    background-color: white;
}

nav.navbar > .container-fluid .logo-ADAM {
    width: 95px;
}

nav.navbar > .container-fluid a:not(.btn) {
    height: 54px;
}

nav.navbar > .container-fluid a:not(.user-name) {
    cursor: pointer;
}

nav.navbar > .container-fluid a:not(.btn) {
    color: var(--descartes-rouge-color);
}

nav.navbar > .container-fluid a.navbar-brand {
    cursor: default;
}

nav.navbar > .container-fluid a:not(.navbar-logo):not(.help-link):not(.user-name):hover {
    background-color: var(--descartes-rouge-color);
    color: #E8E8E8;
}

nav.navbar > .container-fluid .active a,
nav.navbar > .container-fluid .active a:focus,
nav.navbar > .container-fluid .active a:hover,
nav.navbar > .container-fluid .navbar-nav.navbar-right > li.open a.dropdown-toggle {
    background-color: var(--descartes-rouge-color);
    color: var(--descartes-rouge-color);
}

/*
 * Login form
 */
.checkbox input[type=checkbox] {
    margin-left: 0px;
}

#login-dp{
    min-width: 275px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .help-block{
    font-size: 12px;
}

#login-dp .bottom{
    background-color: rgba(255,255,255,.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}
#login-dp .social-buttons{
    margin: 12px 0;
}
#login-dp .social-buttons a{
    width: 32%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-google{
    color: #fff;
    background-color:#db3236;
}
.btn-google:hover{
    color: #fff;
    background-color:#db3236;
}
.btn-linkedin{
    color: #fff;
    background-color:#004471;
}
.btn-linkedin:hover{
    color: #fff;
    background-color:#004471;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*
 * Register form
 */
.form-register {
    margin: 25px auto 15px auto;
    width: 75%;
    border: 3px solid grey;
    padding: 10px;
    vertical-align: middle;
    background-color: var(--descartes-grey-color);
    color: var(--descartes-rouge-color);
}

.form-register .btn-register {
    color : white;
    background-color: var(--descartes-rouge-color);
    margin: auto;
    display: block;
}

.form-register #birthday input,
.form-register #graduateYear input{
    z-index: 0;
    width: 92%;
}

.form-register #birthday span,
.form-register #graduateYear span{
    height: 34px;
}

.form-register .required:after {
    content: "*";
}

/*
 * Homepage css
 */
.section {
    float: left;
    width: 100%;
}

.second-section {
    position: relative;
    background-color: var(--descartes-grey-color);
}

.homepage-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #444444;
    background-image: url(../images/saints_peres.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.25;
    padding: auto;
}

.homepage-logo .logo-ADAM {
    height: 300px;
}

.homepage-logo {
    padding-top: 5%;
}

.homepage-logo,
.homepage-time {
    text-align: center;
}

.homepage-time {
    padding-bottom: 5%;
}

.section-title{
    margin-bottom: 35px;
    margin-top: 80px;
    text-align: center;
}
.section-title h2{
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.04em;
    margin: 0 0 10px;
    padding: 0 0 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.section-title h2:before {
    border: 2px solid var(--descartes-rouge-color);
    bottom: 0;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}
.section-title p{
    color: var(--descartes-rouge-color);
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.welcome_section{
    overflow: hidden;
}

.welcome_part{
    margin: 50px auto 80px;
}
.welcome_icon{
    background: none repeat scroll 0 0 transparent;
    border: 2px solid var(--descartes-rouge-color);
    border-radius: 100%;
    color: var(--descartes-rouge-color);
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    width: 140px;
}
.welcome_part h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}
.welcome_part p{
    color: var(--descartes-brown-color);
    font-size: 14px;
    text-align: center;
}

/*
 * Registerd list
 */
.registered-list-container {
    margin: 25px auto 15px auto;
    width: 90%;
    border: 3px solid grey;
    padding: 10px;
    vertical-align: middle;
    background-color: var(--descartes-grey-color);
    color: var(--descartes-rouge-color);
}

.registered-list-container .table-hover tbody tr td,
.registered-list-container .table-hover tbody tr th {
    text-align: center;
    vertical-align: middle;
}

.registered-list-container .table-hover tbody tr:hover td,
.registered-list-container .table-hover tbody tr:hover th {
    background-color: white;
}

/*
*  Footer
*/
.footer-distributed {
    background-color: #202020;
    position: relative;
}
.footer-distributed h3,
.footer-distributed p{
    color: #8C8D90;
}
.footer-distributed i, .letterMiage{
    color: var(--descartes-rouge-color);
}

/*
*  Politique de confidentialite
*/
.confidentialite {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    background-color: var(--descartes-grey-color);
}
.confidentialite h2{
    color:var(--descartes-rouge-color);
}
.confidentialite h3{
    color:var(--descartes-brown-color);
}

/*
* Mot de passe oublié
*/
.password-form {
    margin: 10% auto;
    width: 50%;
    border: 3px solid grey;
    padding: 10px;
    vertical-align: middle;
    background-color: var(--descartes-grey-color);
    color: var(--descartes-rouge-color);
}

.password-form .btn-submit {
    color : white;
    background-color: var(--descartes-rouge-color);
    margin: auto;
    display: block;
}

.password-form .password-title {
    text-align: center;
    margin-bottom: 35px;
}
