:root {
  --descartes-rouge-color: #BB0F47;
  --descartes-grey-color: #F3F3F3;
  --descartes-brown-color: #554348;
  --descartes-blue-color: #93B7BE;
  --descartes-green-color: #8C9A9E;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto auto;
    padding: 0 0 auto;
    background-color: var(--descartes-grey-color);
}

#wrap.homepage {
    background-color: #444444;
}

/*
 * Container block en dessous de la navbar
 */
.block-container {
    padding: 54px 0 0 0;
    height: 100%;
    overflow-x: hidden;
}

/*
 * Navbar
 */
nav.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    top: 0;
    height: 54px;
}

nav.navbar > .container-fluid {
    background-color: white;
}

nav.navbar > .container-fluid .logo-ADAM {
    width: 95px;
}

nav.navbar > .container-fluid a:not(.btn) {
    height: 54px;
}

nav.navbar > .container-fluid a:not(.user-name) {
    cursor: pointer;
}

nav.navbar > .container-fluid a:not(.btn) {
    color: var(--descartes-rouge-color);
}

nav.navbar > .container-fluid a.navbar-brand {
    cursor: default;
}

nav.navbar > .container-fluid a:not(.navbar-logo):not(.help-link):hover {
    background-color: var(--descartes-rouge-color);
    color: #E8E8E8;
}

nav.navbar > .container-fluid .active a,
nav.navbar > .container-fluid .active a:focus,
nav.navbar > .container-fluid .active a:hover,
nav.navbar > .container-fluid .navbar-nav.navbar-right > li.open a.dropdown-toggle {
    background-color: var(--descartes-rouge-color);
    color: var(--descartes-rouge-color);
}

/*
 * Login form
 */
.checkbox input[type=checkbox] {
    margin-left: 0px;
}

#login-dp{
    min-width: 275px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .help-block{
    font-size: 12px;
}

#login-dp .bottom{
    background-color: rgba(255,255,255,.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}
.social-buttons{
    margin: 12px 0;
}
.social-buttons a{
    width: 32%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-google{
    color: #fff;
    background-color:#db3236;
}
.btn-google:hover{
    color: #fff;
    background-color:#db3236;
}
.btn-linkedin{
    color: #fff;
    background-color:#004471;
}
.btn-linkedin:hover{
    color: #fff;
    background-color:#004471;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*
 * Register form
 */
.form-register {
    margin: 25px auto 15px auto;
    width: 75%;
    padding: 10px;
    vertical-align: middle;
    color: var(--descartes-rouge-color);
}

.form-register .btn-register {
    color : white;
    background-color: var(--descartes-rouge-color);
    margin: auto;
    display: block;
}

.form-register #birthday input,
.form-register #graduateYear input{
    z-index: 0;
    width: 92%;
}

.form-register #birthday span,
.form-register #graduateYear span{
    height: 34px;
}

.form-register .required:after {
    content: "*";
}

/*
 * Homepage css
 */
.section {
    float: left;
    width: 100%;
}

.second-section {
    position: relative;
    background-color: var(--descartes-grey-color);
}

.third-section {
    position: relative;
}

.homepage-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #444444;
    background-image: url(../images/saints_peres.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.25;
    padding: auto;
}

.homepage-logo .logo-ADAM {
    height: 300px;
}

.homepage-logo,
.homepage-time {
    text-align: center;
}

.homepage-time {
    padding-bottom: 5%;
}

.section-title{
    margin-bottom: 35px;
    margin-top: 80px;
    text-align: center;
}
.section-title h2{
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.04em;
    margin: 0 0 10px;
    padding: 0 0 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.section-title h2:before {
    border: 2px solid var(--descartes-rouge-color);
    bottom: 0;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}
.section-title p{
    color: var(--descartes-rouge-color);
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.welcome_section{
    overflow: hidden;
}

.welcome_part{
    margin: 50px auto 80px;
}
.welcome_icon{
    background: none repeat scroll 0 0 transparent;
    border: 2px solid var(--descartes-rouge-color);
    border-radius: 100%;
    color: var(--descartes-rouge-color);
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    width: 140px;
}
.welcome_part h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}
.welcome_part p{
    color: var(--descartes-brown-color);
    font-size: 14px;
    text-align: center;
}

.first-section .search-container {
    padding-top: 50px;
    z-index: 0;
}

.first-section .search-container .search-container-btn .search-btn {
    background-color: var(--descartes-rouge-color);
    background-image: var(--descartes-rouge-color);
    border-color: var(--descartes-rouge-color);
    text-shadow: none;
    color: white;
}

.third-section .calendar-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid var(--descartes-rouge-color);
    background-color: white;
}

.third-section .calendar-container .ui-widget-header {
    background-color: var(--descartes-rouge-color);
}

.third-section .calendar-container .fc-button-inner,
.third-section .calendar-container .fc-header-title {
    color: var(--descartes-rouge-color);
}

.third-section .section-title h2,
.third-section .section-title h2:before,
.third-section .section-title p {
    color: white;
}

.third-section .calendar-container .fc-header .fc-header-right .fc-button {
    z-index: 0;
}

/*
 * Registerd list
 */
.registered-list-container {
    margin: 25px auto 15px auto;
    width: 90%;
    padding: 10px;
    vertical-align: middle;
}

.registered-list-container .add-user {
    text-decoration:none;
    color: var(--descartes-rouge-color);
}

.registered-list-container #registreList_wrapper {
    margin-top: 30px;
}

.registered-list-container #registreList_wrapper div:nth-child(2) {
    overflow-x: auto;
}

.registered-list-container table td.action-container {
    white-space: nowrap;
}

.registered-list-container table a.action-btn{
    color: darken(var(--descartes-grey-color));
    font-size: 20px;
    text-decoration:none;
}

.registered-list-container table a.action-btn:hover{
    color: var(--descartes-rouge-color);
}

.registered-list-container .table-hover thead {
    color: var(--descartes-grey-color);
    background-color: var(--descartes-rouge-color);
}

.registered-list-container #registreList.table.table-hover thead th:after{
    color: var(--descartes-grey-color);
    opacity: 1;
}

.registered-list-container .table-hover tbody tr td,
.registered-list-container .table-hover tbody tr th {
    text-align: center;
    vertical-align: middle;
}

.registered-list-container .table-hover tbody tr:hover td,
.registered-list-container .table-hover tbody tr:hover th {
    background-color: white;
}

/*
*  Footer
*/
.footer-distributed {
    background-color: #202020;
    position: relative;
}
.footer-distributed h3,
.footer-distributed p{
    color: #8C8D90;
}
.footer-distributed i, .letterMiage{
    color: var(--descartes-rouge-color);
}

/*
*  Politique de confidentialite
*/
.confidentialite {
    margin: 25px auto 15px auto;
    width: 90%;
    padding: 10px 5% 0 5%;
    vertical-align: middle;
    background-color: white;
    text-align: justify;

}
.confidentialite h2 {
    color:var(--descartes-rouge-color);
    padding-bottom: 50px;
}
.confidentialite h3 {
    text-align: center;
    color:var(--descartes-brown-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.confidentialite h6 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.confidentialite .section-border {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #d6d6d6;
}

.confidentialite .btn-cancel {
    margin-bottom: 10px;
}

/*
 * Advert form
 */
.form-advert {
    margin: 25px auto 15px auto;
    width: 75%;
    padding: 10px;
    vertical-align: middle;
}
.form-advert .btn.btn-registered {
    background-image: initial;
    background-color: var(--descartes-rouge-color);
    color: white;
    text-shadow: initial;
}
.form-advert h1 {
    color: var(--descartes-brown-color);
}
.form-advert #evenDate span {
    height: 20px;
}
.form-advert #evenDate input {
    z-index: 0;
    width: 92%;
}

/*
 * Advert List
 */
.pageAdvertList{
    width: 85%;
    margin: 25px auto 15px auto;
    padding: 10px;
    vertical-align: middle;
}

.pageAdvertList .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
section.pageAdvertList .participate{
    display: none;
}

.btn-add-advert,
.btn-add-advert:hover {
    background-image: initial;
    background-color: var(--descartes-rouge-color);
    color: white;
    text-shadow: initial;
}

.pageAdvertList .panel-footer{
    background-color: white;
}

.filter-container {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.filter-container label {
    padding-left: 8px;
    padding-right: 10px;
}

.filter-container .btn {
    background-image: initial;
    text-shadow: initial;
}

/*
 * edit Advert
 */
.editAdvert {
    width: 85%;
    margin: 25px auto 15px auto;
    padding: 10px;
    vertical-align: middle;
}

.editAdvert #edit_form-evenDate span {
    height: 20px;
}
.editAdvert #edit_form-evenDate input {
    z-index: 0;
    width: 92%;
}
.editAdvert .group-btn input {
    background-image: initial;
    background-color: var(--descartes-rouge-color);
    color: white;
    text-shadow: initial;
}

/*
* Mot de passe oublié
*/
.password-form {
    margin: 10% auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    color: var(--descartes-rouge-color);
}

.password-form .btn-submit {
    color : white;
    background-color: var(--descartes-rouge-color);
    margin: auto;
    display: block;
}

.password-form .password-title {
    text-align: center;
    margin-bottom: 35px;
}

/*
* Modifier le mot de passe
*/
.modif-password-form {
    margin: 10% auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    color: var(--descartes-rouge-color);
}

.modif-password-form .btn-submit {
    color : white;
    background-color: var(--descartes-rouge-color);
    margin: auto;
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;

}

.modif-password-form .modif-password-title {
    text-align: center;
    margin-bottom: 35px;
}

.modif-password-form .submit-container {
    margin-top: 30px;
}

/*
* Page mot passe déjà demandé
*/
.already-request-container {
    margin: 10% auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    background-color:white;
    color: var(--descartes-rouge-color);
}


/*
* Confirmation d'inscription page
*/
.register-confirmation {
    margin: 10% auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    background-color:white;
    color: var(--descartes-rouge-color);
}

/*
* Confirmation d'envoi d'email pour reinitialiser le mot de passe
*/
.confirm-email {
    margin: 10% auto;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    background-color: var(--descartes-grey-color);
    color: var(--descartes-rouge-color);
}

/*
* Barre de simulation d'un utilisateur
*/
.simulation-bar {
    background-color: var(--descartes-rouge-color);
    height : 30px;
    padding : 5px;
    color: white;
}

.simulation-bar a{
    color: var(--descartes-blue-color);
}

/*
*  Conditions générales d'utilisation du site
*/
.conditions {
    margin: 25px auto 15px auto;
    width: 90%;
    padding: 10px 5% 0 5%;
    vertical-align: middle;
    background-color: white;
    text-align: justify;
}

.conditions h2 {
    color: var(--descartes-rouge-color);
    padding-bottom: 50px;
}

.conditions .btn-cancel {
    margin-bottom: 10px;
}
/*
 * Calendar
 */
 #fullCalModal a {
    color: white;
 }

 #fullCalModal .modal-header {
    background-color: var(--descartes-grey-color);
 }

/*
 * Profil
 */
.profil .profil-menu li a{
    color: black;
    border-radius: 0px;
}

.profil .profil-menu li.active a{
    color: var(--descartes-rouge-color);
    background-color: white;
}

.profil .profil-menu li.profil-title a:hover {
    background-color: var(--descartes-grey-color);
}

.profil .profil-container {
    margin-top: 30px;
}

.profil .profil-container .form {
    margin: 25px auto 15px auto;
    width: 75%;
    padding: 10px;
    vertical-align: middle;
    background-color: white;
    color: var(--descartes-rouge-color);
}

.profil .profil-value {
    color: black;
}

.profil .profil-btn-container {
    text-align: right;
}

.profil .profil-container .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.profil .profil-container h3 {
    text-align: center;
}

.profil .profil-container .btn-add-mission {
    background-color: var(--descartes-rouge-color);
    color: white;
    background-image: initial;
    text-shadow: none;
}


.profil.form-register {
    min-height: 510px;
}

.group-btn {
    display: block;
    margin: auto;
    text-align: center;
}

.group-btn .btn-register {
    margin: initial;
    display: initial;
}

.group-btn .btn-cancel {
    background-image: initial;
    text-shadow: none;
}
