<div class="modal fade" id="ModalDeleteMission" tabindex="-1" role="dialog" aria-labelledby="supression mission">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="ModalDeleteMission">Supprimer la mission</h4>
             </div>
               <div class="modal-body">
               	 <p><b> ATTENTION, CETTE ACTION EST IRREVERSIBLE ! </b></p>
                  <p> Êtes-vous sûr de vouloir supprimer votre mission ?</p>
               </div>
               <div class="modal-footer">
               	<form id="removemission" method="post">
                 	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                     <button type="submit" class="btn btn-danger">Supprimer</button>
                 </form>
             </div>
         </div>
     </div>
 </div>