{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-confirmation">
        <h3>{{ user.firstname|capitalize }},</h3>
        <p>
            Votre inscription a bien été prise en compte. </br>
            Vous allez recevoir un e-mail contenant un lien d'activation sur lequel il vous faudra cliquer afin d'activer votre compte.
        </p>
    </div>
{% endblock body %}
