{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-confirmation">
        <h3>{{ app.user.firstname|capitalize }},</h3>
        <p>
            Votre compte est désormais activé ! Bienvenue parmi nous !
        </p>
        <p>
            La prochaine étape : renseigner votre identité et compléter votre profil pour pouvoir communiquer avec les autres membres.
        </p>
    </div>
{% endblock body %}
