{% extends 'base.html.twig' %}

{% block body %}
    <p>
    	Ton inscription a bien été prise en compte, {{ app.user.firstname|capitalize }}. Bienvenu sur ADAM, l'Association de Descartes des Anciens Miagistes !
    </p>
{% endblock body %}
