<footer class="footer-distributed">
    <section id="mainFooter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4 col-xs-6">
                    <h3>ADAM</h3>
                    <p>
                        <strong class="letterMiage">A</strong>ssociation <strong class="letterMiage">D</strong>escartes des <strong class="letterMiage">A</strong>nciens <strong class="letterMiage">M</strong>iagistes
                    </p>
                    <p>est une association permettant aux anciennes promotions d'échanger entre elles.</p>
                </div>
                <div class="col-md-4 col-xs-6">
                    <h3>A propos de nous</h3>
                    <ul class="list-unstyled worksList">
                        <li><a href="{{ path('security') }}">Mentions légales</a></li>
                        <li><a href="{{ path('conditions_generales') }}">Conditions générales d'utilisation du site</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-6">
                    <h3>Nous contacter</h3>
                    <address>
                        <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;45 rue des Saints-Pères<br>
                            75006 Paris <br>
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </section>
</footer>
