{% extends "base.html.twig" %}

{% block body %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Informations générales</a></li>
  <li><a href="#">Expérience professionnel</a></li>
</ul>

<a href="{{ path('fos_user_profile_edit') }}" class="btn blue">Modifier</a>
{% include "UserBundle:Profile:show_content.html.twig" %}
{% endblock body %}
