{% extends "base.html.twig" %}

{% block body %}
<div class="profil col-sm-12">
    <ul class="profil-menu nav nav-pills nav-stacked col-sm-2">
        <li class="profil-title"><a><b>Profil</b></a></li>
        <li class="active"><a href="{{ path('fos_user_profile_show') }}">Informations générales</a></li>
        <li><a href="{{ path('mission_index') }}">Expérience professionnelle</a></li>
    </ul>

    <div class="profil-container col-sm-10">
        <div class="profil-btn-container">
        	<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default" role="button">
        		Modifier
        	</a>
        	<a href="{{ path('profile_password_edit') }}" class="btn btn-default" role="button">
        		Changer son mot de passe
        	</a>
        </div>
    	{% include "UserBundle:Profile:show_content.html.twig" %}
    </div>
</div>
{% endblock body %}
