<div class="modal fade" id="ModalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="supression utilisateur">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalDeleteUser">Supprimer l'utilisateur</h4>
            </div>
              <div class="modal-body">
              	 <p><b> ATTENTION, CETTE ACTION EST IRREVERSIBLE ! </b></p>
                 <p> Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
              </div>
              <div class="modal-footer">
              	<form id="removeuser" method="post">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
