{% extends 'base.html.twig' %}

{% block body %}
    <div class="registered-list-container">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('fos_user_registration_register') }}" class="add-user">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Ajouter un Utilisateur
            </a>
        {% endif %}
        {% include 'AppBundle::_usersTable.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $( ".supress" ).click(function() {
                var actionuser = $(this).data('href');
                $('#removeuser').attr('action',actionuser);
            });
        });
    </script>
{% endblock %}
