{% extends 'base.html.twig' %}

{% block body %}
    <section class="first-section section">
        <div class="homepage-background"></div>
        <div class="homepage-logo col-lg-12">
            <div class="col-lg-offset-3  col-lg-6">
                <img class="logo-ADAM" alt="ADAM" src="{{ asset('bundles/front/images/ADAM_Icon.png') }}">
            </div>
        </div>
        <form id="myFormSearch" action="{{ path('search') }}" method="post" onsubmit="return verifMiniCaracteres();">
            <div class="col-lg-offset-3 col-lg-6 search-container">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchAdvert" name="searchAdvert" placeholder="Rechercher une annonce...">
                    <span class="input-group-btn search-container-btn">
                        <button class="btn btn-default search-btn" type="submit">Rechercher</button>
                    </span>
                </div>
                 <div class="alert alert-danger hidden" id="searchAdvertAlert" role="alert">Votre recherche doit comporter plus de 3 caractères</div>
            </div>
        </form> 
    </section>
    <section class="second-section section">
        <div class="row">
            <div class="section-title">
                <h2>ADAM</h2>
                <p>Association Descartes Anciens Miagistes</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="welcome_part">
                <div class="welcome_icon">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <h2>RÉSEAU</h2>
                <p>Construisez votre réseau d'anciens miagistes pour être informé des nouvelles opportunités.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="welcome_part">
                <div class="welcome_icon">
                    <i class="fa fa-calendar-plus-o fa-4x"></i>
                </div>
                <h2>ÉVÉNEMENTS</h2>
                <p>Soyez informé des différents événements de l'association.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="welcome_part">
                <div class="welcome_icon">
                    <i class="fa fa-briefcase fa-4x"></i>
                </div>
                <h2>EMPLOIS</h2>
                <p>Trouvez et proposez des emplois faits pour les miagistes.</p>
            </div>
        </div>
    </section>
    <section class="third-section section">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            {% include 'AppBundle::calendar.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/front/css/libs/TimeCircles.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/front/js/libs/TimeCircles.js')}}"></script>
    <script type="text/javascript">
        var winHeight = $(window).height();
        var winWidth = $(window).width();
        if (winHeight > 650) {
            $('.first-section').css({'height': winHeight - 54});
            $('.homepage-logo').css({'top': ((winHeight - 54 - 385) / 2) + 'px'});
            $('.search-container').css({'top': ((winHeight - 54 - 385) / 2) + 'px'});
        } else {
            $('.first-section').css({
                'height': '600px'
            });
        };

        $(window).resize(function(){
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            if (winHeight > 600) {
                $('.first-section').css({'height': winHeight - 54});
                $('.homepage-logo').css({'top': ((winHeight - 54 - 385) / 2) + 'px'});
                $('.search-container').css({'top': ((winHeight - 54 - 385) / 2) + 'px'});
            } else {
                $('.first-section').css({
                    'height': '600px'
                });
            };
        });
        function verifMiniCaracteres() {
            var search = document.getElementById('searchAdvert');
            var searchValue = search.value;
            if(searchValue.length < 3){
                $('#searchAdvertAlert').removeClass('hidden');
                return false;
            }
            else{
                $('#searchAdvertAlert').addClass('hidden');
            }
        }
    </script>
{% endblock %}
